.App {
  text-align: center;
}

.header-container {
  background-color: #61dafb;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  font-size: 30px;
}

.link-style {
  text-decoration: none;
  color: black;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-item p {
  margin: 0;
}
.list-item img {
  height: 90px;
  margin: 8px;
}

.card-style {
  display: flex;
  flex-direction: column;
}

.card-style div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}